<a href="https://colab.research.google.com/github/moanassar/MyGANs-public/blob/main/TGAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/sdv-dev/TGAN.git

Cloning into 'TGAN'...
remote: Enumerating objects: 873, done.
remote: Counting objects: 100% (147/147), done.
remote: Compressing objects: 100% (57/57), done.
remote: Total 873 (delta 98), reused 137 (delta 90), pack-reused 726
Receiving objects: 100% (873/873), 7.92 MiB | 12.32 MiB/s, done.
Resolving deltas: 100% (496/496), done.

In [7]:
!pwd

/content

In [1]:
pip install tgan

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tgan in /usr/local/lib/python3.7/dist-packages (0.1.0)
Requirement already satisfied: tensorflow<2.0,>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from tgan) (1.15.5)
Requirement already satisfied: scikit-learn>=0.20.2 in /usr/local/lib/python3.7/dist-packages (from tgan) (1.0.2)
Requirement already satisfied: tensorpack==0.9.4 in /usr/local/lib/python3.7/dist-packages (from tgan) (0.9.4)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from tgan) (1.18.5)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from tgan) (1.3.5)
Requirement already satisfied: msgpack-numpy>=0.4.4.2 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (0.4.8)
Requirement already satisfied: termcolor>=1.1 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (1.1.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (0.8.10)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (1.15.0)
Requirement already satisfied: pyzmq>=16 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (23.2.0)
Requirement already satisfied: tqdm>4.11.1 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (4.64.0)
Requirement already satisfied: msgpack>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (1.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->tgan) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->tgan) (2022.1)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.2->tgan) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.2->tgan) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.2->tgan) (3.1.0)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.0.8)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (0.2.2)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (0.2.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.1.2)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (3.17.3)
Requirement already satisfied: tensorboard<1.16.0,>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.15.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.14.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (3.3.0)
Requirement already satisfied: h5py<=2.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (2.10.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.47.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (0.37.1)
Requirement already satisfied: tensorflow-estimator==1.15.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.15.1)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (0.8.1)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.2.0)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (57.4.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (3.4.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (4.12.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (3.8.1)

In [5]:
from tgan.data import load_demo_data
data, continuous_columns = load_demo_data('census')
data.head(3).T

,0,1,2
0,73,58,18
1,Not in universe,Self-employed-not incorporated,Not in universe
2,0,4,0
3,0,34,0
4,High school graduate,Some college but no degree,10th grade
5,0,0,0
6,Not in universe,Not in universe,High school
7,Widowed,Divorced,Never married
8,Not in universe or children,Construction,Not in universe or children
9,Not in universe,Precision production craft & repair,Not in universe
10,White,White,Asian or Pacific Islander
11,All other,All other,All other
12,Female,Male,Female
13,Not in universe,Not in universe,Not in universe
14,Not in universe,Not in universe,Not in universe
15,Not in labor force,Children or Armed Forces,Not in labor force
16,0,0,0
17,0,0,0
18,0,0,0
19,Nonfiler,Head of household,Nonfiler
20,Not in universe,South,Not in universe
21,Not in universe,Arkansas,Not in universe
22,Other Rel 18+ ever marr not in subfamily,Householder,Child 18+ never marr Not in a subfamily
23,Other relative of householder,Householder,Child 18 or older
24,?,MSA to MSA,?
25,?,Same county,?
26,?,Same county,?
27,Not in universe under 1 year old,No,Not in universe under 1 year old
28,?,Yes,?
29,0,1,0
30,Not in universe,Not in universe,Not in universe
31,United-States,United-States,Vietnam
32,United-States,United-States,Vietnam
33,United-States,United-States,Vietnam
34,Native- Born in the United States,Native- Born in the United States,Foreign born- Not a citizen of U S
35,0,0,0
36,Not in universe,Not in universe,Not in universe
37,2,2,2
38,0,52,0
39,95,94,95
40,-50000,-50000,-50000

In [6]:
from tgan.model import TGANModel

tgan = TGANModel(continuous_columns)

In [1]:
tgan.fit(data)

NameError: ignored

now the previous step took toooooooooo long time; so you have to save the resulted model then you can use it any time anywhere

In [ ]:
#saving the model
model_path = 'demo/nassar_model'
# Bear in mind that in case the file already exists, 
# TGAN will avoid overwritting it unless the force=True argument is passed:
tgan.save(model_path, force=True)

In [ ]:
#loading the saved model
new_tgan_nassar = TGANModel.load(model_path)

In [ ]:
# using the saved model to generate new samples
num_samples = 100

samples = new_tgan_nassar.sample(num_samples)

samples.head(3)